*{
    font-family: Arial, Helvetica, sans-serif;
}
.centered {
    background-color: rgb(238, 238, 238);
    text-align: center;
    align-items: center;
    margin: auto;
}
#img {
    display: flex;
    flex-direction: column;
    margin: auto;
}
#img-caption {
    text-align: center;
    width: 100%;
}
#img-div {
    place-items: center;
}
#tribute-info{
    padding: 6rem;
}
#date{
    background-color:rgb(224, 219, 219);
    
    padding-left: 12rem;
    padding-right: 12rem;
    width:auto;

}
#paragraph{
    padding-top: 3rem;
    padding-left: 12rem;
    padding-right: 12rem;
    font-family:'Times New Roman', Times, serif;
}